*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial;
}

body{
background:#111;
color:white;
}

header{
background:#ff6600;
padding:20px;
text-align:center;
}

nav{
display:flex;
justify-content:center;
gap:20px;
background:#222;
padding:15px;
}

nav a{
color:white;
text-decoration:none;
}

.banner{
height:300px;
background:url('imagens/espetinho.jpg');
background-size:cover;
display:flex;
align-items:center;
justify-content:center;
font-size:2rem;
}

section{
padding:40px;
}

.produtos{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;
}

.produto{
background:#222;
padding:15px;
border-radius:10px;
text-align:center;
}

.produto img{
width:100%;
height:200px;
object-fit:cover;
border-radius:10px;
}

button{
background:#25D366;
border:none;
padding:10px 20px;
color:white;
cursor:pointer;
border-radius:5px;
}

.galeria{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:10px;
}

.galeria img{
width:100%;
border-radius:10px;
}

iframe{
width:100%;
height:400px;
border:none;
}

footer{
background:#222;
padding:20px;
text-align:center;
}